.chatWrapper {
    width: clamp(300px, 80%, 800px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: 1px solid #9396a9;
    margin: auto;
}

.chatPageWrapper{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:100%;
}

.chatHistory{
    display: flex;
    flex-direction: column;
    /*justify-content: end;*/
    max-height: clamp(300px, 60vh, 600px);
    overflow-y: auto;
    text-align: left;
    padding: 0.5rem;


}

.chatHeader{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.chatInput{
    color: black;
    width: clamp(300px, 75%, 100%);
    margin: 0;
    padding: 1rem;
    resize: none;
    border-radius: 0.5rem;
    border-style: none;
    border-color: Transparent;
    overflow: auto;
}

.chatInputArea{
    background-color: #d5dade;
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.sendButton{
    border: none;
    background-color: transparent;
    padding:1rem;
    font-size: 1.25rem;
    font-weight: 600;
    color: #444b54;
    margin: auto;

}

.sendButton:hover{
    color: #000;
    cursor: pointer;
}

.date{
    font-size: 0.75rem;
    font-weight: 400;
    color: #888;
    text-align: left;
}


.userName{
    font-size: 0.8rem;
    font-weight: 600;
    color: #b5bdc3;
    text-align: left;
}

.message{
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
}

.text{
    margin-bottom: 0.25rem;
}


.self{
    border: #d5dbdf solid 1px;
    border-radius: 0.25rem;
}

.self > * {
    border: none;
}
